/*This container includes out table and our canvas*/
.center-container {
    /*This property sets the width of our container*/
    width: 608px;
    /*This property centers our container*/
    margin: 0 auto;
    /* 50px down from the top*/
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: rgb(53, 128, 187);
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding-top: 20px;
}
table {
    /*This property collapses table border into 1 border*/
    border-collapse: collapse;
    /*This hides outer borders on table*/
    border-style: hidden;
}

td {
    /*This property changes the cursor to the index finger hand when hover over td elements*/
    cursor: pointer;
    /*This property sets our table border style*/
    border: 6px solid rgb(53, 128, 187);
    /*This property removes default padding*/
    padding: 0;
    width:200px;
    height: 200px;
    filter: contrast(3);
}

canvas {
    /*This property sets the position of our canvas to the top left corner of our container*/
    position: absolute;
    /*This property places our canvas over the top of our table*/
    z-index: 10;
    /*this property makes our canvas invisible*/
    pointer-events: none;
}